{% extends 'base.html.twig' %}

{% block title %}F New Trucks - Concessionnaire Ford Trucks dans l'ouest de la France{% endblock %}
{% block description %}
    "Découvrez notre gamme de camions Ford neufs et d'occasion. Profitez d'un service exceptionnel chez vos concessionnaires Ford Trucks"
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block body %}
<section class="homeTop">
    <img src={{ asset('images/home2.jpg') }} alt="Camions Ford">
    <div class="homeTopOverlay">
        <div class="homeTopWrapper">
            <h1><span>Nouveau Ford F-Max</span><br>Le camion prêt<br>à prendre la route...</h1>
            <div class="homeTopButtons">
                <a href={{ path('vehicules') }} class="btn btnOrange2"><span>Nos véhicules en stock</span><img src={{ asset('images/orange-arrow.png') }}></a>
                <a href="https://fordtrucks.com.tr/fr/" target="_blank" class="btn btnBlack2"><span>Découvrir Ford Trucks</span><img src={{ asset('images/orange-arrow.png') }}></a>
            </div>
        </div>
    </div>
</section>

<section class="fnt-cat-section">
    <div class="fnt-cat-wrapper">
        <h2>La gamme complète Ford Trucks</h2>
        <p>Une solution pour chaque besoin</p>
        <div class="fnt-categories">
            <a href="https://www.fordtrucks.com.tr/fr/routier" target="_blank">
                <img src={{asset("images/roadtruck2.png")}}>
                <span>Routier</span>
            </a>
            <a href="https://www.fordtrucks.com.tr/fr/tracteur" target="_blank">
                <img src={{asset("images/tractor2.png")}}>
                <span>Tracteur</span>
            </a>
            <a href="https://www.fordtrucks.com.tr/fr/construction" target="_blank">
                <img src={{asset("images/construction2.png")}}>
                <span>Construction</span>
            </a>
        </div>
    </div>
</section>

<section class="homeVehicles" id="homeVehicles">
    <div class="homeVehiclesWrapper">
        <h2 class="homeVehiclesTitle">Nos véhicules prêts à partir</h2>
        <p class="homeVehiclesSubtitle">Découvrez nos poids lourds disponibles de suite.</p>
        <div class="homeVehiclesVehicles">
            {% for vehicle in vehicles %}
                <div class="homeVehiclesFlip">
                    <a href={{ path('vehicule', {'id': vehicle.id}) }} class="homeVehiclesCard">
                        <div class="front">
                            <div class="homeVehiclesImage">
                                {% if vehicle.images[0] is defined %}
                                    <img src={{ vehicle.images[0] | imagine_filter('homeVehicle') }} alt="Véhicule Ford">                            
                                {% endif %}
                            </div>
                            <div class="homeVehiclesInfos">
                                <h2>{{ vehicle.model }}</h2>
                                <p>{{ vehicle.type }} | {{ vehicle.gears }} | {{ vehicle.enginePower }}<br>{{ vehicle.state }}{% if vehicle.mileageFromOdometer is not null %} | {{ vehicle.mileageFromOdometer }}{% endif %}</p>
                                <div class="homeVehiclesLink">
                                    <span>En savoir plus</span>
                                    <img src={{ asset('images/orange-arrow.png') }}>
                                </div>
                            </div>
                        </div>
                        <div class="back">
                            <img src={{ asset('images/favicon.png') }}>
                            <div class="btn">
                                <span>En savoir plus</span>
                                <img src={{ asset('images/orange-arrow.png') }}>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {#
        <div class="homeVehiclesStock">
            <img src={{ asset('images/tampon.png') }} alt="En stock">
        </div>
        #}
        <div class="homeVehiclesButton">
            <a href={{ path('vehicules') }} class="btn btnOrange2"><span>Voir tous les véhicules en stock</span><img src={{ asset('images/orange-arrow.png') }}></a>
        </div>
    </div>
</section>

<section class="homeActus">
    <div class="homeActusWrapper">
        <h2 class="homeActusTitle">A vos côtés au quotidien...</h2>
        <div class="homeActusActus">
            <div class="homeActusActu">
                <div class="homeActusContent">
                    <div class="homeActusContentText">
                        <h3>Notre réseau <br class="lg">après-vente</h3>
                        <p>Nous avons choisi des garages implantés depuis des décennies sur leurs territoires pour un service après-vente performant.</p>
                    </div>
                    <a href={{ path('contact') }} class="btn"><span>En savoir plus</span><img src={{ asset('images/orange-arrow.png') }} width=12 height=12></a>
                </div>
                <div class="homeActusImage">
                    <img src={{ ('images/home/01.jpg') | imagine_filter('homeActu') }} alt="Après-vente">
                </div>
                <span class="homeActusNumber">01</span>
            </div>
            <div class="homeActusActu">
                <div class="homeActusContent">
                    <div class="homeActusContentText">
                        <h3>La garantie <br class="lg">Ford Trucks</h3>
                        <p>Votre camion Ford Trucks est couvert par trois ans de garantie totale, kilométrage illimité. L’entretien, la réparation et la maintenance s’opèrent dans nos...</p>
                    </div>
                    <a href={{ path('garantie') }} class="btn"><span>En savoir plus</span><img src={{ asset('images/orange-arrow.png') }} width=12 height=12></a>
                </div>
                <div class="homeActusImage">
                    <img src={{ ('images/home/02.jpg') | imagine_filter('homeActu') }} alt="Garantie">
                </div>
                <span class="homeActusNumber">02</span>
            </div>
            <div class="homeActusActu">
                <div class="homeActusContent">
                    <div class="homeActusContentText">
                        <h3>Une équipe <br class="lg">à votre service</h3>
                        <p>Thomas et Boris sont à votre disposition du lundi au vendredi, de 8h à 18h. Nos deux conseillers sauront vous guider vers l’investissement le plus juste.</p>
                    </div>
                    <a href={{ path('contact') }} class="btn"><span>En savoir plus</span><img src={{ asset('images/orange-arrow.png') }} width=12 height=12></a>
                </div>
                <div class="homeActusImage">
                    <img src={{ ('images/home/03.jpg') | imagine_filter('homeActu') }} alt="Equipe">
                </div>
                <span class="homeActusNumber">03</span>
            </div>
            <div class="homeActusActu">
                <div class="homeActusContent">
                    <div class="homeActusContentText">
                        <h3>Toute l’actu’ <br class="lg">F New Trucks</h3>
                        <p>Suivez les évolutions de notre réseau, les manifestations locales et nationales auxquelles nous participons... Toute notre actualité par ici !</p>
                    </div>
                    <a href={{ path('actus') }} class="btn"><span>En savoir plus</span><img src={{ asset('images/orange-arrow.png') }} width=12 height=12></a>
                </div>
                <div class="homeActusImage">
                    <img src={{ ('images/home/04.jpg') | imagine_filter('homeActu') }} alt="Actu">
                </div>
                <span class="homeActusNumber">04</span>
            </div>
        </div>
    </div>
</section>

<section id="fnt-contact" class="fnt-contact">
    <div class="fnt-departements">
        <div class="fnt-col1">
            <h3>F NEW TRUCKS 79</h3>
            <div class="fnt-av-commerce">
                <div class="fnt-av">
                    <h4>Après-vente</h4>
                    <h5>Garage JAULIN</h5>
                    <p>
                        11 avenue Charles de Gaulle<br>
                        79400 Saint-Maixent-l’École<br>
                        <a href="tel:+33549056504">05 49 05 65 04</a>
                    </p>
                    <img src={{asset("images/logo-jaulin.png")}} alt="Garage Jaulin" class="fnt-logo">
                </div>
                <div class="fnt-commerce">
                    <h4>Commerce</h4>
                    <h5>Boris VADELEAU</h5>
                    <p>
                        <a href="mailto:b.vadeleau@fnewtrucks.fr">b.vadeleau@fnewtrucks.fr</a>
                        <br>
                        <a href="tel:+33616334331">06 16 33 43 31</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="fnt-col2">
            <h3>F NEW TRUCKS 87</h3>
            <div class="fnt-av-commerce">
                <div class="fnt-av">
                    <h4>Après-vente</h4>
                    <h5>Garage C.E.A.P.L.</h5>
                    <p>
                        10-12 route du Verdoyer<br>
                        87430 Verneuil-sur-Vienne<br>
                        <a href="tel:+33555480483">05 55 48 04 83</a>
                    </p>
                </div>
                <div class="fnt-commerce">
                    <h4>Commerce</h4>
                    <h5>Thomas TROUSSARD</h5>
                    <p>
                        <a href="mailto:t.troussard@fnewtrucks.fr">t.troussard@fnewtrucks.fr</a>
                        <br>
                        <a href="tel:+33679813600">06 79 81 36 00</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(window).on('scroll', function(){
        var scroll1 = $("#homeVehicles").position().top - 300;
        if ($(this).scrollTop() > scroll1) {
            $('.homeVehiclesTitle').addClass('show');
            setTimeout(() => {
                $('.homeVehiclesSubtitle').addClass('show');
                $('.homeVehiclesStock').css('display', 'flex');
            }, 300);
            setTimeout(() => {
                $('.homeVehiclesStock').addClass('show');
            }, 600);
        }
    });
</script>
{% endblock %}
