{% extends 'base.html.twig' %}

{% block title %}F New Trucks - Nos véhicules en stock{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset("bundles/slick/slick.css")}}>
    <link rel="stylesheet" href={{asset("bundles/slick/slick-theme.css")}}>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('bundles/slick/slick.min.js') }}></script>
{% endblock %}

{% block body %}
<section class="vehicleOne">
    <div class="vehicleOneImages">
            <div class="slider-for">
                {% for image in vehicle.images %}
                    <img src={{ asset(image) }} alt="{{vehicle.model}}">
                {% endfor %}
            </div>
            <div class="slider-nav">
                {% for image in vehicle.images %}
                    <img src={{ asset(image) }} alt="{{vehicle.model}}">
                {% endfor %}
            </div>
    </div>
    <div class="vehicleOneDetails">
        <div class="vehicleOneTitle">
            <h1>{{ vehicle.model }}</h1>
            <p>{{ vehicle.type }}</p>
        </div>
        {% if vehicle.price is not empty %}
            <div class="vehicleOnePrice">
                {{ vehicle.price }}
            </div>            
        {% endif %}
        <div class="vehicleOneCaracts">
            {% set caracs = [] %}
            {% set maxCaracs = 0 %}
            {% if vehicle.state is not empty %}
                {% set caracs = caracs|merge([vehicle.state]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.mileageFromOdometer is not empty %}
                {% set caracs = caracs|merge([vehicle.mileageFromOdometer]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.enginePower is not empty %}
                {% set caracs = caracs|merge([vehicle.enginePower]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.gears is not empty %}
                {% set caracs = caracs|merge([vehicle.gears]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.carac1 is not empty %}
                {% set caracs = caracs|merge([vehicle.carac1]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.carac2 is not empty %}
                {% set caracs = caracs|merge([vehicle.carac2]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.carac3 is not empty %}
                {% set caracs = caracs|merge([vehicle.carac3]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}
            {% if vehicle.carac4 is not empty %}
                {% set caracs = caracs|merge([vehicle.carac4]) %}
                {% set maxCaracs = maxCaracs + 1 %}
            {% endif %}

            <hr>
            <div class="row">
                {% set i = 0 %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
            </div>
            <hr>
            <div class="row">
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
            </div>
            <hr>
            <div class="row">
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
                {% if i < maxCaracs %}
                    <div>{{ caracs[i] }}</div>
                    {% set i = i + 1 %}
                {% endif %}
            </div>
            <hr>

        </div>
        <div class="vehicleOneEquipments">
            <div class="bold">Equipements :</div>
            <div class="light">{{ vehicle.equipments | raw }}</div>
        </div>
        {% if vehicle.rental is not empty %}
            <div class="vehicleOneRental">
                {{ vehicle.rental }}
            </div>            
        {% endif %}
        <div class="vehicleOneBottom">
            <div class="vehicleOneGuarantee">
                {% if vehicle.guarantee is not empty %}
                    <img src={{ asset('images/garantie.png') }} width=50 height=50>
                    <span>{{ vehicle.guarantee }}</span>                    
                {% endif %}
            </div>
            <div class="btn btnOrange2" onclick="openForm({{vehicle.id}})"><span>Je suis intéressé</span><img src={{ asset('images/orange-arrow.png') }}></div>
        </div>
    </div>
</section>
<div id="vehicleGallery">
    <div class="slick">
        {% for image in vehicle.images %}
            <img src={{ asset(image) }}>
        {% endfor %}
    </div>
</div>
<div class="vehiclesForm" id="vehiclesForm">
    {{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
        <h2>Nous contacter</h2>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.tel) }}
        <div id="contact_submit">
            <div class="btn btnOrange2" onclick="submitForm();"><span>Envoyer</span><img src={{ asset('images/orange-arrow.png') }}></div>
        </div>
        <div id="contact_cancel">
            <div class="btn btnTransparent"><span>Annuler</span><img src={{ asset('images/orange-arrow.png') }}></div>
        </div>
        <div id="vehiclesFormError">Vous devez remplir tous les champs</div>
    {{ form_end(form) }}
</div>
<script>
    $(document).ready(function(){
        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            adaptiveHeight: true,
            dots: true,
            asNavFor: '.slider-nav'
        });
        $('.slider-nav').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: false,
            asNavFor: '.slider-for',
            centerMode: true,
            focusOnSelect: true
        });
    });
</script>
<script>
    function closeImg(div){
        div.removeClass('show');
    }
    function openImg(id, key){
        div = '#img' + id + '-' + key;
        $(div).addClass('show');
    }
    function openForm(id){
        $('#contact_vehicle').val(id);
        $('#vehiclesForm').addClass('show');
    }
    $('#vehiclesForm').click(function(){
        clearForm();
    }).children().click(function(e){
        return false;
    });
    $('#contact_cancel').click(function(){
        clearForm();
    });
    function clearForm(){
        $('#vehiclesForm').removeClass('show');
        $('#vehiclesForm input').val('');
    }
    function submitForm(){
        if ($('#contact_firstname').val() != '' && $('#contact_lastname').val() != '' && $('#contact_email').val() != '' && $('#contact_tel').val() != ''){
            $.ajax({
                url: Routing.generate('send_mail'),
                type: 'POST',
                data: {
                    'id': {{ vehicle.id }},
                    'firstname': $('#contact_firstname').val(),
                    'lastname': $('#contact_lastname').val(),
                    'email': $('#contact_email').val(),
                    'tel': $('#contact_tel').val()
                }
            }).done(function(data){
                $('#vehiclesForm').html(data.html);
            });
        }
        else{
            $('#vehiclesFormError').addClass('show');
            setTimeout(function(){
                $('#vehiclesFormError').removeClass('show');
            }, 3000);
        }
    }
</script>

{% endblock %}
