{% extends 'base.html.twig' %}

{% block title %}F New Trucks - Nos véhicules en stock{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{asset("bundles/slick/slick.css")}}>
    <link rel="stylesheet" href={{asset("bundles/slick/slick-theme.css")}}>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('bundles/slick/slick.min.js') }}></script>
{% endblock %}

{% block body %}
<section class="vehiclesTop">
    <img src={{ asset('images/vehicules2.jpg') }} alt="Camions Ford" class="vehiclesTopImg">
    <div class="vehiclesTopOverlay">
        <div class="vehiclesTopWrapper">
            <h1>Notre politique :<br>des véhicules prêts à partir</h1>
            <p>Chez F New Trucks, nous mettons tout en oeuvre pour <br class="lg">vous proposer des véhicules disponibles de suite.</p>
            <div class="vehiclesTopButtons">
                <a href={{ path('contact') }} class="btn btnOrange"><span>Nous contacter</span><img src={{ asset('images/orange-arrow.png') }}></a>
            </div>
        </div>
    </div>
</section>

<section class="vehiclesVehicles">
    <div class="vehiclesVehiclesWrapper">
{#
        <div class="vehiclesVehiclesNew">
            <div class="slick" id="newSwiper">
                {% for key, image in newVehicle.images %}
                <div class="swiper-slide">
                    <img src={{ asset(image) }} alt="Véhicule Ford" onclick="openImg({{newVehicle.id}}, {{key}})">
                    <img src={{ asset('images/agrandir-la-fenetre.png') }} class="vehiclesOpenImg" onclick="openImg({{newVehicle.id}}, {{key}})">
                </div>                
                {% endfor %}
            </div>
            <div class="vehiclesVehiclesnewInfos">
                <h2>{{ newVehicle.model }}</h2>
                <p>{{ newVehicle.type }} | {{ newVehicle.gears }} | {{ newVehicle.enginePower }} | {{ newVehicle.state }}{% if newVehicle.mileageFromOdometer is not null %} | {{ newVehicle.mileageFromOdometer }}{% endif %}</p>
                <hr>
                <p class="vehiclesVehiclesEquipments">Équipements :</p>
                <p class="vehiclesVehiclesEquipments">{{ newVehicle.equipments }}</p>
                {% if newVehicle.guarantee is not empty %}
                    <p class="vehiclesVehiclesGuarantee">{{ newVehicle.guarantee }}</p>
                {% endif %}
                <div>
                    <div class="btn btnOrange" onclick="openForm({{newVehicle.id}})"><span>Je suis intéressé</span><img src={{ asset('images/orange-arrow.png') }}></div>
                </div>
                <span class="vehiclesNew">Nouveauté</span>
            </div>
        </div>
        <div class="vehiclesVehiclesCards">
            {% for vehicle in vehicles %}
                <div class="vehiclesVehiclesCard">
                    <div class="vehiclesVehiclesImages">
                        <div class="slick">
                            {% for key, image in vehicle.images %}
                                <div class="swiper-slide">
                                    <img src={{ image | imagine_filter('vehicle') }} alt="Véhicule Ford">
                                    <img src={{ asset('images/agrandir-la-fenetre.png') }} class="vehiclesOpenImg" onclick="openImg({{vehicle.id}}, {{key}})">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="vehiclesVehiclesInfos">
                        <h2>{{ vehicle.model }}</h2>
                        <p class="vehiclesVehiclesDescription">{{ vehicle.type }} | {{ vehicle.gears }} | {{ vehicle.enginePower }} | {{ vehicle.state }}{% if vehicle.mileageFromOdometer is not null %} | {{ vehicle.mileageFromOdometer }}{% endif %}</p>
                        <p class="vehiclesVehiclesEquipments">Équipements :<br>{{ vehicle.equipments }}</p>
                        {% if vehicle.guarantee is not empty %}
                            <p class="vehiclesVehiclesGuarantee">{{ vehicle.guarantee }}</p>                            
                        {% endif %}
                        <div>
                            <div class="btn btnOrange" onclick="openForm({{vehicle.id}})"><span>Je suis intéressé</span><img src={{ asset('images/orange-arrow.png') }}></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
#}
        <div class="vehiclesList">
            {% for vehicle in vehiclesList %}
                <div class="vehicleCard">
                    <div class="vehicleImage">
                        <div class="slick" id="images_{{vehicle.id}}">
                            {% for key, image in vehicle.images %}
                                <div class="image_{{key}}">
                                    <img src={{ image | imagine_filter('vehicle') }} alt="Véhicule Ford">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="vehicleInfos">
                        <div class="vehicleTitles">
                            <div class="vehicleTitle">
                                <h2>{{ vehicle.model }}</h2>
                            </div>
                            <div class="vehicleSubtitle">
                                {{ vehicle.type }}
                            </div>
                        </div>
                        <div class="vehicleCarac">
                            <hr>
                            <div class="row">
                                <div>{{ vehicle.state }}</div>
                                <div>{{ vehicle.enginePower }}</div>
                                <div>{{ vehicle.gears }}</div>
                            </div>
                            <hr>
                            <div class="row">
                                {% if vehicle.mileageFromOdometer is not null %}
                                    <div>{{ vehicle.mileageFromOdometer }}</div>                                    
                                {% endif %}
                                <div>{{ vehicle.carac1 }}</div>
                                <div>{{ vehicle.carac2 }}</div>
                                {% if vehicle.mileageFromOdometer is null %}
                                    <div>{{ vehicle.carac3 }}</div>                                    
                                {% endif %}
                            </div>
                            <hr>
                        </div>
                        <a href={{ path('vehicule', {'id': vehicle.id}) }} class="btn btnOrange"><span>Voir le détail</span><img src={{ asset('images/orange-arrow.png') }}></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="fnt-contact" class="fnt-contact">
    <div class="fnt-departements">
        <div class="fnt-col1">
            <h3>Départements 17, 79, 86</h3>
            <div class="fnt-av-commerce">
                <div class="fnt-av">
                    <h4>Après-vente</h4>
                    <h5>F NEW TRUCKS 79</h5>
                    <p>
                        Garage Jaulin<br>
                        11 avenue Charles de Gaulle<br>
                        79400 Saint-Maixent-l’École<br>
                        <a href="tel:+33549056504">05 49 05 65 04</a>
                    </p>
                    <img src={{asset("images/logo-jaulin.png")}} alt="Garage Jaulin" class="fnt-logo">
                </div>
                <div class="fnt-commerce">
                    <h4>Commerce</h4>
                    <h5>Boris VADELEAU</h5>
                    <p>
                        <a href="mailto:b.vadeleau@fnewtrucks.fr">b.vadeleau@fnewtrucks.fr</a>
                        <br>
                        <a href="tel:+33616334331">06 16 33 43 31</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="fnt-col2">
            <h3>Départements 16, 19, 23, 24, 87</h3>
            <div class="fnt-av-commerce">
                <div class="fnt-av">
                    <h4>Après-vente</h4>
                    <h5>F NEW TRUCKS 87</h5>
                    <p>
                        Garage C.E.A.P.L.<br>
                        10-12 route du Verdoyer<br>
                        87430 Verneuil-sur-Vienne<br>
                        <a href="tel:+33555480483">05 55 48 04 83</a>
                    </p>
                </div>
                <div class="fnt-commerce">
                    <h4>Commerce</h4>
                    <h5>Thomas TROUSSARD</h5>
                    <p>
                        <a href="mailto:t.troussard@fnewtrucks.fr">t.troussard@fnewtrucks.fr</a>
                        <br>
                        <a href="tel:+33679813600">06 79 81 36 00</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% for key, image in newVehicle.images %}
    <div class="vehiclesImageBig" id="img{{newVehicle.id}}-{{key}}" onclick="closeImg($(this))">
        <img src={{ asset(image) }}>
        <img src={{ asset('images/cancel_white.png') }} class="vehiclesCloseImg">
    </div>
{% endfor %}
{% for vehicle in vehicles %}
    {% for key, image in vehicle.images %}
        <div class="vehiclesImageBig" id="img{{vehicle.id}}-{{key}}" onclick="closeImg($(this))">
            <img src={{ asset(image) }}>
            <img src={{ asset('images/cancel_white.png') }} class="vehiclesCloseImg">
        </div>
    {% endfor %}
{% endfor %}
<div class="vehiclesForm" id="vehiclesForm">
    {{ form_start(form, {'attr': {'id': 'contactForm'}}) }}
        <h2>Nous contacter</h2>
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.tel) }}
        <div id="contact_submit">
            <div class="btn btnOrange" onclick="submitForm();"><span>Envoyer</span><img src={{ asset('images/orange-arrow.png') }}></div>
        </div>
        <div id="contact_cancel">
            <div class="btn btnTransparent"><span>Annuler</span><img src={{ asset('images/orange-arrow.png') }}></div>
        </div>
        <div id="vehiclesFormError">Vous devez remplir tous les champs</div>
    {{ form_end(form) }}
</div>
<script>
    $(document).ready(function(){
        $('.slick').slick({
            dots: true,
            variableWidth: true
        });
    });
</script>
<script>
    function closeImg(div){
        div.removeClass('show');
    }
    function openImg(id, key){
        div = '#img' + id + '-' + key;
        $(div).addClass('show');
    }
    function openForm(id){
        $('#contact_vehicle').val(id);
        $('#vehiclesForm').addClass('show');
    }
    $('#vehiclesForm').click(function(){
        clearForm();
    }).children().click(function(e){
        return false;
    });
    $('#contact_cancel').click(function(){
        clearForm();
    });
    function clearForm(){
        $('#vehiclesForm').removeClass('show');
        $('#vehiclesForm input').val('');
    }
    function submitForm(){
        if ($('#contact_firstname').val() != '' && $('#contact_lastname').val() != '' && $('#contact_email').val() != '' && $('#contact_tel').val() != ''){
            $('#contactForm').submit();
        }
        else{
            $('#vehiclesFormError').addClass('show');
            setTimeout(function(){
                $('#vehiclesFormError').removeClass('show');
            }, 3000);
        }
    }
</script>

{% endblock %}
