<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}F NEW TRUCKS - Un vent Ford souffle par l'ouest...{% endblock %}</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GTBVJ57F9"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0GTBVJ57F9');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content={% block description %}{% endblock %}>

        <link rel="icon" href={{asset("images/favicon.ico")}}>
        <link rel="stylesheet" href="https://use.typekit.net/orh8yhe.css">
        <link rel="stylesheet" href={{asset("css/style.css")}}>
        <link rel="stylesheet" href={{asset("css/responsive.css")}}>
        {% block stylesheets %}
        {% endblock %}

        <script src={{ asset('bundles/jquery/jquery-3.7.1.min.js') }}></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v18.0" nonce="e96hVMqE"></script>
        <header>
            <div class="headerWrapper">
                <div class="headerLogo">
                    <a href={{ path('home') }}>
                        <img src={{ asset("images/logo-fnewtrucks.png") }} alt="Logo F New Trucks">
                    </a>
                </div>
                <div class="headerMenu">
                    <ul>
                        <li>
                            <a href={{ path('vehicules') }}><span>Nos véhicules en stock</span><img src={{ asset('images/orange-arrow.png') }} class="headerMenuArrow" width=12 height=12></a>
                        </li>
                        <li>
                            <a href={{ path('contact') }}><span>Nos centres</span><img src={{ asset('images/orange-arrow.png') }} class="headerMenuArrow" width=12 height=12></a>
                        </li>
                        {#
                        <li>
                            <a href={{ path('actus') }}><span>Actus</span><img src={{ asset('images/orange-arrow.png') }} class="headerMenuArrow" width=12 height=12></a>
                        </li>
                        #}
                        <li>
                            <a href="http://fordtrucksfrance.fr" target="_blank"><span>Découvrir Ford Trucks</span><img src={{ asset('images/orange-arrow.png') }} class="headerMenuArrow" width=12 height=12></a>
                        </li>
                        <li class="headerTel">
                            <a href="tel: +33545205945">
                                <img src={{ asset('images/appel.png') }} width=28 height=28>
                                <p><span>05 45 20 59 45</span><br>Contactez-nous</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="headerMenuOpen">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script>
            $(document).ready(function(){
                $('#nav-icon').click(function(){
                    $('#nav-icon').toggleClass('open');
                    $('.headerMenu').toggleClass('open');
                });
            });
        </script>
        <footer>
            <div class="footerWrapper">
                <div class="footerLogo">
                    <img src={{asset("images/logo-fnewtrucks.png")}} alt="Logo F new Trucks" height="40">
                    <p>Concessionnaire Ford Trucks sur 8 départements du sud-ouest de la France.</p>
                </div>
                <div class="fnt-footer">
                    <ul>
                        <li><a href="http://fordtrucksfrance.fr">Découvrir Ford Trucks</a></li>
                        <li><a href={{ path('vehicules') }}>Véhicules en stock</a></li>
                        {#
                        <li><a href={{ path('actus') }}>Actualités</a></li>
                        #}
                        <li><a href={{ path('contact') }}>Contacts</a></li>
                        <li><a href={{ path('garantie') }}>Garantie Ford Trucks</a></li>
                        <li><a href={{ path('mentions_legales') }}>Mentions légales</a></li>
                        <li><a href={{ path('politique_de_confidentialite') }}>Politique de confidentialité</a></li>
                    </ul>
                </div>
                <div class="social">
                    <a href="https://www.facebook.com/fnewtrucks" target="_blank">
                        <img src={{ asset('images/facebook.png') }} alt="Logo Facebook" width=32 height=32>
                    </a>
                    <a href="https://www.linkedin.com/company/f-new-trucks" target="_blank">
                        <img src={{ asset('images/linkedin.png') }} alt="Logo Linkedin" width=32 height=32>
                    </a>
                </div>
                <img src={{asset("images/FORD_TRUCKS_LOGO-02.png")}} alt="Logo Ford Trucks" width="60" class="fnt-logo-last">
            </div>
        </footer>
        <script>
            $(window).on('scroll', function(){
                var scroll2 = $("#fnt-contact").position().top - 500;
                if ($(this).scrollTop() > scroll2) {
                    $('.fnt-col1').addClass('show');
                    $('.fnt-col2').addClass('show');
                }
            });
        </script>
    </body>
</html>
