<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0GTBVJ57F9"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0GTBVJ57F9');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>F NEW TRUCKS - Un vent Ford souffle par l'ouest...</title>
        <link rel="icon" href={{asset("images/favicon.ico")}}>
        <link rel="stylesheet" href="https://use.typekit.net/orh8yhe.css">
        <link rel="stylesheet" href={{asset("css/style.css")}}>
        {% block stylesheets %}
        {% endblock %}

        <script src={{ asset('bundles/jquery/jquery-3.7.1.min.js') }}></script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v18.0" nonce="e96hVMqE"></script>
        <header>
            <div class="headerWrapper">
                <div class="headerLogo">
                    <a href={{ path('home') }}>
                        <img src={{ asset("images/logo-fnewtrucks.png") }} alt="Logo F New Trucks">
                    </a>
                </div>
                <div class="headerMenu">
                    <ul>
                        <li>
                            <a href="https://fordtrucks.com.tr/fr/" target="_blank">Découvrir Ford Trucks</a>
                        </li>
                        <li>
                            <a href={{ path('vehicules') }}>Nos véhicules en stock</a>
                        </li>
                        <li>
                            <a href={{ path('contact') }}>Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        {% block body %}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <footer>
            <div class="footerWrapper">
                <div class="fb-page" data-href="https://www.facebook.com/fnewtrucks" data-tabs="" data-width="500" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/fnewtrucks" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/fnewtrucks">F New Trucks</a></blockquote></div>
                <div class="fnt-footer">
                    <img src={{asset("images/logo-f-new-trucks.jpg")}} alt="Logo F new Trucks" width="200">
                    <a href="https://fordtrucks.com.tr/fr/">Ford Trucks</a>
                    <a href="mentions-legales.html">Mentions légales</a>
                    <a href="politique-confidentialite.html">Politique de confidentialité</a>
                    <img src={{asset("images/FORD_TRUCKS_LOGO-02.png")}} alt="Logo Ford Trucks" width="55" class="fnt-logo-last">
                </div>
            </div>
        </footer>
    </body>
</html>
