{% extends 'base.html.twig' %}

{% block title %}Véhicules{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset("bundles/swiperjs/swiper-bundle.min.css")}}>
    <link rel="stylesheet" href={{asset("css/jass.css")}}>
{% endblock %}

{% block javascripts %}
    <script src={{ asset('bundles/swiperjs/swiper-bundle.min.js') }}></script>
{% endblock %}

{% block body %}
<section class="jass-vehicles">
    <div class="jass-vehicles-wrapper">
        <div class="jass-vehicles-title">
            <h1>Véhicules</h1>
            <a href="{{ path('app_jass_new') }}" class="jass-vehicles-button blue">+</a>
        </div>
        <div class="jass-vehicles-cards">
            {% for vehicle in vehicles %}
                {% if vehicle.isActive() == false %}
                    {% set card_class = 'inactive' %}
                {% else %}
                    {% set card_class = '' %}
                {% endif %}
                <div class="jass-vehicles-card">
                    <div class="jass-vehicles-images {{card_class}}">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {% for image in vehicle.images %}
                                    <div class="swiper-slide">
                                        <img src={{ image | imagine_filter('vehicle') }} alt="Véhicule Ford">
                                    </div>
                                {% endfor %}
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>
                            </div>
                        </div>
                    </div>
                    <div class="jass-vehicles-infos {{card_class}}">
                        <h2>{{ vehicle.model }}</h2>
                        <p>{{ vehicle.type }} | {{ vehicle.gears }} | {{ vehicle.enginePower }} | {{ vehicle.state }}{% if vehicle.mileageFromOdometer is not null %} | {{ vehicle.mileageFromOdometer }}{% endif %}</p>
                        <p class="jass-vehicles-equipments">Équipements :</p>
                        <p class="jass-vehicles-equipments">{{ vehicle.equipments }}</p>
                        <p class="jass-vehicles-guarantee">{{ vehicle.guarantee }}</p>
                    </div>
                    <div class="jass-vehicles-edit">
                        <a href={{ path('app_jass_edit', {'id': vehicle.id}) }} class="jass-vehicles-button green">edit</a>
                        {{ include('jass/_delete_form.html.twig') }}
                        {#
                        <a href={{ path('app_jass_delete', {'id': vehicle.id}) }} class="jass-vehicles-button red">suppr</a>
                        #}
                    </div>
                    <div class="jass-vehicles-activate">
                    {% if vehicle.isActive() %}
                        <a href={{ path('app_jass_activate', {'id': vehicle.id}) }} class="jass-vehicles-button red">
                            Désactiver
                        </a>
                    {% else %}
                        <a href={{ path('app_jass_activate', {'id': vehicle.id}) }} class="jass-vehicles-button green">
                            Activer
                        </a>
                    {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<script>
    const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
{% endblock %}
